.header {
  grid-column: 2/-1;
  grid-row: 1/2;
  background-color: var(--color-trans);
  padding: 0 var(--padding-section);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-gray-900);
}

.titleContainer{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-xs);
}

.title{
  display:flex;
  flex-direction: column; 
  font-family: var(--font-popping) !important;  
}
.title p{
  font-size: var(--font-s-xxs);
  font-weight: var(--font-w-light);
  letter-spacing: -0.5px; 
}
.title h1{
  font-weight: var(--font-w-light);
  font-size: var(--font-s-xl);
  line-height: 1;
  letter-spacing: -1px;
}
.title h1 span{
  color:var(--color-primary);
}

.rightContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:var(--spacing-md)
}

.userName{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-s-sm);
  color: var(--color-gray-900);
}
.userName svg{
  font-size: var(--font-s-lg);
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transform: translateX(-2px);
  color: var(--color-gray-900);
  
}
.email{
  color: var(--color-gray-700);
  font-size: var(--font-s-xs);
  font-weight: var(--font-w-light);
  letter-spacing: -0.5px;
  margin-top: 0.3rem;
}
.logoutContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}
