.main {
  grid-column: 2/3;
  grid-row: 2/-1;
  background-color: var(--color-gray-100);
  overflow-y: scroll;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: calc(45% - var(--spacing-md)) calc(55% - var(--spacing-md));
  padding: var(--spacing-md) var(--spacing-md) 0 var(--spacing-md);
  grid-gap: var(--spacing-md);
}
