.filterPanel {
  background-color: var(--color-white);
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: var(--spacing-md);
  border-radius: var(--border-radius-md);
  grid-column: 4/-1;
  grid-row: 1/2;
}
