.filterPanel {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
  border-radius: var(--border-radius-md);
  grid-column: 4/-1;
  grid-row: 1/2;
}
.filterPanel h2 {
  align-self: flex-start;
  /* margin-bottom: var(--spacing-sm); */
}

.ageGender {
  width: 100%;
  display: flex;
  gap: var(--spacing-sm);
}

.btnRow {
  display: flex;
  width: 100%;
  gap: var(--spacing-sm);
  margin-top: auto;
}
.btnRow button:nth-of-type(1) {
  flex: 1 !important;
}
.btnRow button:nth-of-type(2) {
  order: 2;
  flex: 6;
}
