.tableItem {
  position: relative;
  display: grid;
  /* width: 100%; */

  grid-template-columns:
    minmax(70px, 0.4fr)
    minmax(60px, 0.4fr)
    minmax(60px, 0.5fr)
    minmax(200px, 0.7fr)
    minmax(60px, 0.3fr)
    minmax(60px, 0.3fr)
    minmax(90px, 0.8fr)
    minmax(80px, 0.8fr)
    minmax(60px, 0.4fr);

  border: 2px solid var(--color-gray-200);
  border-radius: var(--border-radius-sm);
  padding: 1rem 0;
  font-size: var(--font-s-xxs);
  align-content: center;
  overflow: hidden;
  /* transition: var(--transition); */
}

.tableItem:hover {
  border: 2px solid var(--color-gray-300);
}

/* .tableItem__title {
  align-self: center;
  justify-self: start;
} */

.tableItem__country {
  align-self: center;
  justify-self: start;
  font-size: var(--font-s-xs);
  margin-left: 4rem;
}

.tableItem__region {
  align-self: center;
  justify-self: center;
}

.tableItem__municipality {
  align-self: center;
  justify-self: center;
}

.tableItem__qofBar {
  display: flex;
  align-self: stretch;
  justify-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.tableItem__ageGroup {
  align-self: center;
  justify-self: center;
}
.tableItem__gender {
  align-self: center;
  justify-self: center;
}
.tableItem__livingSituation {
  align-self: center;
  justify-self: center;
}
.tableItem__assistance {
  align-self: center;
  justify-self: center;
}

.tableItem__remove {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: var(--spacing-md);
  background-color: transparent;
  border: none;
  outline: none;
  padding: var(--spacing-xs);
  border-radius: var(--border-radius-sm);
  cursor: pointer;
}
.tableItem__remove svg {
  font-size: var(--icon-size-24);
  color: var(--color-gray-900);
  transition: var(--transition);
}

.tableItem__remove svg:hover {
  background-color: var(--color-gray-200);
  color: var(--color-red);
}
/* .progress span{
  position: absolute;
  top:-50%;
  left:50%;
  margin:0 !important;
  transform: translate(50%,0);
  
} */
