.bar {
  display: flex;
  position: relative;
  width: 70%;
  max-width: 80%;
  height: 35%;
  align-items: stretch;
  justify-content: flex-start;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--color-gray-300);
  background-color: var(--color-gray-100);
  /* overflow: hidden; */
  transition: var(--transition);
}
.bar:hover .bar__filler {
  background-color: var(--color-green);
}
.bar:hover {
  background-color: var(--color-white);
}

.bar:hover::after {
  width: 100%;
  height: 100%;
}

.bar__filler {
  background: linear-gradient(90deg, #108ee9 0%, #87d068 200%);
  background-color: var(--color-gray-400);
  width: 0%;
  transition: var(--transition);
  border-radius: var(--border-radius-sm);
}

.bar__percentage {
  position: absolute;
  top: -90%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
  font-size: var(--fonts-size-md);
}

.bar::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 100%;

  background-color: #ffffff25;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition);
}
