.form {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing-md);
}
.ageGender {
  display: flex;
  gap: var(--spacing-sm);
}
