.regionTable {
  background-color: var(--color-white);
  padding: var(--spacing-md);
  border-radius: var(--border-radius-md);
  /* height: 40%; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--spacing-sm);
  order: 1;
  grid-column: 1/-1;
  grid-row: 1/2;
}
