.tableHeader {
  width: 100%;
  display: grid;
  grid-template-columns:
    minmax(70px, 0.4fr)
    minmax(60px, 0.4fr)
    minmax(60px, 0.5fr)
    minmax(200px, 0.7fr)
    minmax(60px, 0.3fr)
    minmax(60px, 0.3fr)
    minmax(90px, 0.8fr)
    minmax(80px, 0.8fr)
    minmax(60px, 0.4fr);
}
/* .tableHeader h2 {
  font-weight: var(--font-w-regular);
  font-size: var(--font-s-xs);
  color: var(--color-gray-900);
} */
.tableHeader h3 {
  font-size: var(--font-s-xs);
  color: var(--color-gray-900);
  font-weight: var(--font-w-semiBold);
}

.header__title {
  width: 100%;
  align-self: center;
  justify-self: center;
  margin-bottom: 2rem;
}

hr {
  margin-bottom: 2rem;
  border: 1px solid var(--color-gray-300);
  width: 100%;
}

.header__country {
  align-self: center;
  justify-self: start;
  margin-left: 2rem;

  margin-left: 4rem;
}

.header__region {
  align-self: center;
  justify-self: center;
}

.header__municipality {
  align-self: center;
  justify-self: center;
}

.header__qofBar {
  align-self: center;
  justify-self: center;
}
.header__ageGroup {
  align-self: center;
  justify-self: center;
}
.header__gender {
  align-self: center;
  justify-self: center;
}
.header__livingSituation {
  align-self: center;
  justify-self: center;
}
.header__assistance {
  align-self: center;
  justify-self: center;
}

.header__remove {
  justify-self: end;
  align-self: center;
  margin-right: 1rem;

  /* margin-right: var(--spacing-md); */
}
