.limitedList {
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #22222435;
  z-index: var(--z-index-900);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.limitedList__container {
  width: 100%;
  min-width: 30rem;
  max-width: 45rem;
  padding: var(--spacing-md);
  background-color: var(--color-white);
  border-radius: var(--border-radius-md);
  box-shadow: var(--box-shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing-md);
}

.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.container__header h3 {
  font-size: var(--font-s-md);
  font-weight: var(--font-w-semiBold);
}

.container__header button {
  background-color: var(--transparent);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
}
.container__header svg {
  font-size: var(--icon-size-16);
}

.container__body {
  width: 100%;
}
.container__body p {
  font-size: var(--font-s-sm);
  font-weight: var(--font-w-light);
}
.container__footer {
  width: 100%;
  margin: var(--spacing-md) 0 0 0;
}
