.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: var(--z-index-900);
  background-color: #ffffff;
  /* backdrop-filter: blur(10px); */
}
.loadingObject p {
  font-size: var(--font-s-xs);
  letter-spacing: -0.5px;
  font-weight: var(--font-w-semiBold);
  padding-top: var(--padding-xs);
}
