.filterPanel {
  position: relative;
  /* border-radius: var(--border-radius-sm); */
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: var(--spacing-md);
  overflow: hidden;
  height: 4.6rem;
  transition: var(--transition);
}

.filterPanel__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--spacing-xs);
  padding: var(--spacing-sm);
  background-color: var(--color-gray-100);
  border-radius: var(--border-radius-sm);
  transition: var(--transition);
  cursor: pointer;
  height: 4.2rem;
}
.filterPanel__header__open {
  background-color: var(--color-gray-300);
}
.filterPanel__header__open svg:nth-child(2) {
  transform: rotate(180deg);
}

.filterPanel__header svg {
  font-size: var(--icon-size-24);
  transition: var(--transition);
}
.filterPanel__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  color: var(--color-gray-900);
}

.ageGender {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.filterPanel__open {
  height: 24rem;
  transition: var(--transition);

  /* border-bottom: none; */
}
