.sidebar {
  grid-column: 1/2;
  grid-row: 1/-1;
  background-color: var(--color-trans);
  padding: 0 var(--spacing-md) var(--spacing-md);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  border-right: 1px solid var(--color-gray-400);
  gap: 2rem;
}

.row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logoImage {
  width: 70%;
  margin: var(--spacing-md);
}

.row:nth-of-type(3) {
  margin-top: auto;
}

.copyright{
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: var(--opacity-50);
  text-align: center;
  line-height: 1.5; 
}
